<div class="timePeriods">
<a id="thisYear" class="timePeriod">This Year</a> :: <a id="last12Mo" class="timePeriod">Last 12 Months</a> :: <a id="lastYear" class="timePeriod">Last Year</a> :: <a id="last3" class="timePeriod">Last 3 Years</a> :: <a id="last5" class="timePeriod">Last 5 Years</a> :: <a id="all" class="timePeriod">All</a></div>
<br>